.container {
    text-align: center;
    display: block;
    padding: 10px 20px;
    margin-top: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #192a56;
    border-radius: 20px;
    color: #f5f6fa;
}

.container h1 {
    text-transform: uppercase;
}

.container button {
    background-color: #4cd137;
    border: 0px;
    padding: 10px;
    color: #f5f6fa;
    font-size: 20px;
    font-weight: 800;
    width: 200px;
    border-radius: 10px;
    transition: width 0.2s;
    margin: 20px;
}

.container button:hover {
    background-color: #44bd32;
    width: 220px;
    cursor: pointer;
    transition: width 0.2s;
}

.profile-photo {
    width: 200px;
    border-radius: 100px;
    outline: 5px solid #273c75;
}