.container {
    text-align: center;
    display: block;
    padding: 10px 20px;
    margin-top: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #192a56;
    border-radius: 20px;
    color: #f5f6fa;
}

.container h1 {
    text-transform: uppercase;
}

.container input {
    width: 360px;
    padding: 10px;
    font-size: 16px;
    background-color: #273c75;
    color: #f5f6fa;
    margin: 15px 0;
    border: 0px;
    border-radius: 7px;
}

.container input::placeholder {
    color: #f5f6fa;
    opacity: 1;
}

.container input:hover::placeholder {
    color: #f5f6fa;
    opacity: 1;
}

.container input:hover {
    opacity: 0.75;
    cursor: pointer;
}

.container input:focus::placeholder {
    color: #192a56;
    opacity: 1;
}

.container input:focus {
    background-color: #f5f6fa;
    color: #192a56;
}

.container button {
    background-color: #4cd137;
    border: 0px;
    padding: 10px;
    color: #f5f6fa;
    font-size: 20px;
    font-weight: 800;
    width: 200px;
    border-radius: 10px;
    transition: width 0.2s;
    margin: 20px;
}

.container button:hover {
    background-color: #44bd32;
    width: 220px;
    cursor: pointer;
    transition: width 0.2s;
}

#file-input {
    display: none;
}

#file-input-label span {
    font-size: 20px;
    padding: 17px 20px;
    display: flex;
}

#file-input-label :hover {
    cursor: pointer;
}

.figure {
    position: relative;
    max-width: 100%;
}

.file-upload {
    width: 60px;
    border-radius: 30px;
    float: left;
    margin-left: 10px;
    position: relative;
}

.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0.35;
    transition: opacity .2s;
}

.image-hover:hover {
    opacity: 1;
}

.error-alert {
    padding: 7px 20px;
    background-color: #BC3434;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #832020;
    margin: 10px 0;
    border-radius: 5px;
}
.error-alert span {
    display: block;
    padding: 3px 0;
}